* {
	padding: 0;
	margin: 0;
}
:root {
	--Verydarkblue: hsl(233, 47%, 7%);
	--Darkdesaturatedblue: hsl(
		244,
		38%,
		16%
	);
	--Softviolet: hsl(277, 64%, 61%);
	--White: hsl(0, 0%, 100%);
	--Slightlytransparent: hsla(
		0,
		0%,
		100%,
		0.75
	);
	--Slightlytransparentwhite: hsla(
		0,
		0%,
		100%,
		0.6
	);
}
::-webkit-scrollbar {
	display: none;
}
@font-face {
	font-family: inter;
	src: url(/fonts/Inter[slnt\,wght].ttf);
}
@font-face {
	font-family: lexenddeca;
	src: url(/fonts/LexendDeca[wght].ttf);
}
main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--Verydarkblue);
}
section {
	background-color: var(
		--Darkdesaturatedblue
	);
}
.first h1 {
	color: var(--White);
	font-family: inter;
	width: 70%;
}
.left p {
	color: var(
		--Slightlytransparentwhite
	);
	font-size: 15px;
	font-family: lexenddeca;
}
.left h2,
h3,
h4 {
	color: var(--White);
	font-size: 22px;
	font-family: inter;
}
.left .seconds p {
	text-transform: uppercase;
}
footer {
	position: fixed;
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
}
footer p {
	color: var(
		--Slightlytransparentwhite
	);
}
@media only screen and (min-width: 320px) {
	section {
		display: flex;
		flex-direction: column-reverse;
		width: 85%;
		text-align: center;
		border-radius: 12px;
	}
	.first {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
	}
	.first h1 {
		width: 90%;
	}
	.first p {
		padding-top: 15px;
		width: 100%;
	}
	.left {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding-bottom: 20px;
	}
	.left .seconds .numbers,
	.comp,
	.temp,
	.queri {
		padding: 10px;
	}
	.left h2,
	h3,
	h4 {
		text-transform: uppercase;
		padding-bottom: 4px;
	}
	span {
		color: var(--Softviolet);
	}
	.right img {
		width: 100%;
		height: 25vh;
		border-radius: 12px 12px 0px 0px;
		filter: contrast(1);
	}
	.right::before {
		width: 85%;
		height: 25vh;
		content: "";
		background: hsl(277, 97%, 35%);
		position: absolute;
		z-index: 1;
		border-radius: 12px 12px 0px 0px;
		opacity: 0.6;
	}
}
@media only screen and (min-width: 320px) and (min-height: 552px) {
	main {
		height: fit-content;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	section {
		height: fit-content;
	}
	.left h2,
	h3,
	h4 {
		font-size: 16px;
	}
	.right img {
		height: 40vh;
	}
	.right::before {
		height: 40vh;
	}
}
@media only screen and (min-width: 375px) {
	.first h1 {
		width: 70%;
	}
	.first p {
		width: 85%;
	}
	.right img {
		height: 30vh;
	}
	.right::before {
		height: 30vh;
	}
}
@media only screen and (min-width: 375px) and (min-height: 956px) {
	main {
		height: 100vh;
		padding-top: 10px;
	}
	.first h1 {
		font-size: 30px;
		width: 90%;
	}
	.right img {
		height: 25vh;
	}
	.right::before {
		height: 25vh;
	}
}
@media only screen and (min-width: 768px) {
	main {
		padding-top: 5px;
	}
	.right img {
		height: 45vh;
	}
	.right::before {
		height: 45vh;
	}
}
@media only screen and (min-width: 992px) {
	main {
		height: 100vh;
	}
	section {
		flex-direction: row;
		border-radius: 12px;
		padding-bottom: 0;
		height: 60vh;
	}
	.first {
		display: flex;
		justify-content: start;
		align-items: flex-start;
	}
	.first h1 {
		width: 90%;
		text-align: left;
		font-size: 30px;
	}
	.first p {
		padding-top: 40px;
		width: 80%;
		font-size: 14px;
	}
	.left {
		display: flex;
		text-align: left;
		padding-left: 50px;
		width: 80%;
		gap: 50px;
		margin-top: 40px;
	}
	.left h2,
	h3,
	h4 {
		font-size: 22px;
	}
	.left .seconds .numbers {
		display: flex;
		justify-content: flex-start;
		margin-left: -17px;
		gap: 20px;
	}
	span {
		color: var(--Softviolet);
	}
	.right img {
		height: 60vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		height: 60vh;
		width: 37.8%;
		border-radius: 0px 12px 12px 0px;
	}
}
@media only screen and (min-width: 1024px) and (min-height: 600px) {
	.first {
		padding-top: 0;
	}
	.first h1 {
		width: 90%;
		font-size: 35px;
		padding-top: 100px;
	}
	.first p {
		padding-top: 40px;
		width: 75%;
		font-size: 14px;
	}
	.left {
		margin-top: -70px;
	}
	.right img {
		height: 60vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		height: 60vh;
		width: 33.2%;
		border-radius: 0px 12px 12px 0px;
	}
}
@media only screen and (min-width: 1024px) and (min-height: 880px) {
	.first h1 {
		width: 85%;
		font-size: 35px;
	}
	.first p {
		width: 90%;
	}
	.left {
		margin-top: 50px;
	}
	.left h2,
	h3,
	h4 {
		font-size: 30px;
	}
	.right {
		width: 90%;
	}
	.right::before {
		width: 42.4%;
	}
}
@media only screen and (min-width: 1200px) {
	.left {
		padding-left: 80px;
	}
	.first {
		padding-top: 0;
	}
	.first h1 {
		width: 70%;
	}
	.first p {
		width: 76%;
	}
	.right img {
		height: 70vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		height: 70vh;
		width: 32.4%;
		border-radius: 0px 12px 12px 0px;
	}
}
@media only screen and (min-width: 1272px) and (min-height: 645px) {
	main {
		height: 100vh;
	}
	.left {
		margin-top: -55px;
	}
	.first h1 {
		width: 80%;
	}
	.first p{
		width: 70%;
	}
	.left .seconds .numbers {
		gap: 40px;
	}
	.right {
		width: 80%;
	}
	.right img{
		height: 60vh;
	}
	.right::before {
		height: 60vh;
		width: 39.4%;
		border-radius: 0px 12px 12px 0px;
	}
}
@media only screen and (min-width: 1400px) {
	.first h1 {
		width: 80%;
		font-size: 40px;
	}
	.first p {
		width: 80%;
	}
	.left h2,
	h3,
	h4 {
		font-size: 30px;
	}
	.right {
		width: 80%;
	}
	.right img {
		height: 70vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		height: 70vh;
		width: 39.7%;
		border-radius: 0px 12px 12px 0px;
	}
}
@media only screen and (min-width: 1440px) and (min-height: 800px) {
	section {
		width: 80%;
		height: 62vh;
	}
	.left {
		margin-top: 0px;
	}
	.left h2,
	h3,
	h4 {
		font-size: 25px;
	}
	.right img {
		height: 62vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		width: 37.4%;
		height: 62vh;
	}
}
@media only screen and (min-width: 2560px) {
	section {
		width: 70%;
		height: 70vh;
	}
	.left {
		margin-top: -50px;
		padding-left: 90px;
	}
	.left h2,
	h3,
	h4 {
		font-size: 45px;
	}
	.first h1 {
		width: 90%;
		font-size: 68px;
	}
	.first p {
		font-size: 26px;
		width: 70%;
	}
	.left .seconds .numbers {
		gap: 100px;
	}
	.right img {
		height: 70vh;
		width: 100%;
		border-radius: 0px 12px 12px 0px;
	}
	.right::before {
		width: 33.4%;
		height: 70vh;
	}
}
