*{
    padding: 0;
    margin: 0;
}
:root{
    --Verydarkblue:hsl(233, 47%, 7%);
    --Darkdesaturatedblue: hsl(244, 38%, 16%);
    --Softviolet: hsla(277, 64%, 61%, 0.571);
    --White: hsl(0, 0%, 100%);
    --Slightlytransparent: hsla(0, 0%, 100%, 0.75);
    --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Verydarkblue);
}
section{
    background-color: var(--Darkdesaturatedblue);
}
.first h1{
    color: var(--White);
}
.left p{
    color: var(--Slightlytransparentwhite);
    font-size: 15px;
}
.left h2,h3,h4{
    color: var(--White);
    font-size: 22px;
}
.left .seconds p{
    text-transform: uppercase;
}
@media only screen and (min-width:320px){
    section{
        display: flex;
        flex-direction: column-reverse;
        width: 85%;
        text-align: center;
    }
    .right img{
        width: 100%;
        height: 30vh;
        filter:;
    }
    /*.right::before{
        width: 85%;
        height: 30vh;
        content: '';
        background: var(--Softviolet);
        position: absolute;
        z-index: 1;
    }*/
}
